body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
  }
  
h1 {
    background-color: #3498db;
    color: white;
    padding: 20px;
    margin: 0;
}

#saisie-form {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
label {
    display: block;
    margin-bottom: 10px;
}
  
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
  
button[type="submit"] {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
  
#utilisateurs-connectes {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
#utilisateurs-connectes p {
    margin: 0;
}
  
#utilisateurs-connectes span {
    font-weight: bold;
    color: #3498db;
}
  